.modal {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(23, 26, 31, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal form {
  padding: 56px 40px;
  background: #ffffff;
  border-radius: 4px;
  position: relative;
}
.modal form .exet {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 28px;
  color: #df545c;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal form h1 {
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #3a4a6b;
  margin-bottom: 2rem;
}
.modal form label {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #636873;
  text-align: start;
}
.modal form textarea,
.modal form .doing input {
  padding: 1rem;
  background: #fafafa;
  border: 1px solid #efeef0;
  border-radius: 6px;
  width: 450px;
  height: 203px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.modal form .doing input {
  width: 90%;
  height: auto;
}
.modal form .colors {
  margin: 2rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.modal form .colors .color {
  width: 69px;
  height: 32px;
  background: #3a4a6b;
  border-radius: 6px;
}
.modal form .colors .color:hover,
.modal form .colors .color.active {
  outline: 2px solid #000;
}

.modal form .colors .color:first-child {
  position: relative;
  border-color: #fafafa;
}
.modal form .colors .color:first-child::after,
.modal form .colors .color:first-child::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 75px;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(25deg);
  height: 2px;
  background-color: #df545c;
}

.modal form .colors .color:first-child::before {
  transform: translate(-50%, -50%) rotate(-25deg);
}
.modal form .group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.modal form .doing {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.modal form .doing div {
  width: 48%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.modal form .doing div:first-child {
  margin: 0 24px 24px 0;
}
.modal form .doing div:nth-child(2) {
  margin-bottom: 24px;
}
.modal form .group div:first-child {
  margin-right: 24px;
}
.modal form .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal form .button button {
  width: 80%;
  border-radius: 12px;
}
